<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--  Нужно для запуска тестов без UI подтверждений  -->
    <queries>
        <package android:name="dev.alexmester.lask" />
    </queries>
</manifest>